@import url('https://fonts.googleapis.com/css?family=Roboto');

/* global css */

body {
	background: gray;
	color:#fff;
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}
a:visited {
	color:inherit;
}
h1, h2, h3, h4, h5 {
	text-align: center;
}



/* header css */

header {
	position:fixed;
	width:100vw;
	margin:0 auto;
	z-index:50;
	display:flex;
	justify-content: center;
	text-transform: uppercase;
}
header a {
	margin:15px;
	font-size:20px;
}
header a:hover {
	border-bottom:1px solid #fff;
}
.images {
	position:relative;
}


/* index view css */

.block {
	top:0;
	position:fixed;
	width:100%;
	height:100vh;
	background: linear-gradient(90deg,  rgba(0,0,0,0) 40%, transparent 150px, transparent),
              linear-gradient(0deg,   rgba(0,0,0,0) 45%, transparent 150px, transparent),
              linear-gradient(-90deg, rgba(0,0,0,0) 40%, transparent 150px, transparent),
              linear-gradient(180deg, rgba(0,0,0,0) 45%, transparent 150px, transparent);
}


.navigation {

	position:fixed;
	width:100%;
	height:100vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	z-index:2;
	text-align:center;
	margin-top:40px;
}
.navigation p {
	transition: 1000ms all linear;
}
.nActive {
	opacity:0;
	transition: 1000ms all linear;
}
.page {
	width:100%;
	height:100vh;
	position:relative;
	z-index:-1;
	display:flex;
	justify-content: center;
	align-items:center;
	overflow:hidden;

}
.image {
	position:absolute;
	height:100%;
	transform:matrix(1, 0, 0, 1, 0, 0);
}
.pActive {
	transform: matrix(1.15, 0, 0, 1.15, 0, 0);
	transition: 30000ms all linear;
}
.page img {
	object-fit:cover;
	min-height:100%;
}
.cover {
	width:100%;
	height:100%;
	background: #000;
	opacity:0.4;

}
.title {
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.title h1 {
	position:relative;
}


footer {
	color:#000;
	background: #fff;
	height:0px;
	position:relative;
	overflow:hidden;
	transition:all 200ms linear;
	box-shadow:inset 0px 6px 11px -5px #000;

}
footer ul {
	color:#fff;
}
ul {
	list-style:none;
	display:flex;
	justify-content:center;
	padding:0;
}
ul li {
	margin:10px;
	border-radius:50%;
}
ul li a {
	padding:10px;
	width:15px;
	height:15px;
	display:flex;
	justify-content: center;
}
.fActive {
	height:300px;
	transition: all 200ms linear;
}


.contact {
	height:100vh;
	width:100vw;
	display:flex;
	justify-content: center;
	align-items: center;
	position:relative;
	flex-direction: column;
	background-color:#fff;
	color:#000;


}

.contact li {
	border: 2px solid #000;
}
.contact li:hover {
	box-shadow:inset 0 0 0 2px #000;
	transition: 200ms all linear;
}

form {
	display:flex;
	flex-direction: column;
	align-items:center;
	margin:15px auto;
	width:35%;
}
.input {
	width:100%;
	margin:10px;
	padding:0;
	overflow:hidden;
}
input {
	width:100%;
	height:30px;
	box-sizing:border-box;
	border:2px solid #000;
}
.textArea {
	width:100%;	
	margin:10px;
}
textarea {
	width:100%;
	height:250px;
	box-sizing:border-box;
	border:2px solid #000;
}
button {
	height:30px;
	position:relative;
	width:150px;
	background:#fff;
	border:2px solid #000;
	border-radius:5px;
	text-transform: uppercase;

}

button:hover {
	box-shadow:inset 0 0 0 2px #000;
	transition: 200ms all linear;
}


/* about page css */


.about {
	position:relative;
	background:#fff;
	color:#000;
	width:100%;
	padding-top:50px;
}
.introduction {
	margin:80px;
}
.separator {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	text-transform: uppercase;
}

.columns {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr
}
.col:nth-child(3n) {
	border-right:none;
}
.col {
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	text-align: center;
	padding:40px;
}
.col h3 {
	text-transform: uppercase;
}
.col svg {
	max-width:280px;
	filter:grayscale(100%);
}
.break {
	width:50px;
	height:1px;
	background: #000;
	margin:0 auto;

}